body {
    background-color: #FFFFFF;
    background: url('../img/bg02.png');
}
*{
    font-family: "Microsoft Yahei", SimSun, Arial, sans-serif;!important;
}
#headerNav{
    min-height: 90px;
}
#headerNav>div>div>button{
    margin-top:32px;
}
#mainSection{
    background-color: #fff;
    padding:20px 0;
    margin-top:-20px;
}
#bs-example-navbar-collapse-1{
    margin-top:20px;
}
#bs-example-navbar-collapse-1>ul>li:first-child{
    border-right: 1px solid #ddd;
}
#intro{
    text-align: center;
    margin-top:51px;
    margin-bottom:51px;
}
#intro>div{
    padding:15px;
}
.pennant {
    margin: 0 0 4em 0;
    position: relative;
    display: inline-block;
    width: 9em;
    padding: 1.5em 0 0.5em 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.first>span{
    background-color: #d52349;
}
.first>span:after{
    content: '';
    position: absolute;
    bottom: -1.98em;
    left: 0;
    border-top: solid 2em #d52349;
    border-left: solid 4.5em transparent;
    border-right: solid 4.5em transparent;
}
.middle>span{
    background-color: #000;
}
.middle>span:after{
    content: '';
    position: absolute;
    bottom: -1.98em;
    left: 0;
    border-top: solid 2em #000;
    border-left: solid 4.5em transparent;
    border-right: solid 4.5em transparent;
}
.third>span{
    background-color: #ddd;
}
.third>span:after{
    content: '';
    position: absolute;
    bottom: -1.98em;
    left: 0;
    border-top: solid 2em #ddd;
    border-left: solid 4.5em transparent;
    border-right: solid 4.5em transparent;
}
.pennant span {
    display: block;
    margin: 0 auto;
}
.icon64 {
    width: 64px;
    height: 64px;
    background-image: url('../img/icons64.png');
    text-indent: -9999em;
    margin:0 auto;
}
.icon64-1 {
    background-position: 0 0;
}
.icon64-2 {
    background-position: -64px 0;
}
.icon64-3 {
    background-position: -128px 0;
}
.middle {
    box-shadow: 16px 0px 0px 0px #fff, 17px 0px 0px 0px #ccc, -16px 0px 0px 0px #fff, -17px 0px 0px 0px #ccc, -16px -45px 0px 0px #fff, 16px -45px 0px 0px #fff, -16px 45px 0px 0px #fff, 16px 45px 0px 0px #fff, -16px 0px 45px 0px rgba(0,0,0,0.15), 16px 0px 45px 0px rgba(0,0,0,0.15);
}

/*楼层区域*/

#teachers{
    padding-top:88px;
}
#teachers>section>div{
    position:relative;
}
#teachers .getMore{
    position:absolute;
    top:42px;
    right:17px;
    color:#999;
    font-size:20px;
    text-decoration: none;
}
#teachers .getMore:hover{
    color:#000;
}
.major {
    position: relative;
    text-align: center;
    border-top: solid 1px #ccc;
    top: 1em;
    margin-bottom:30px;
    margin-top:30px;
}
.major h2 {
    background: #fdfdfd url('../img/bg02.png');
    position: relative;
    top: -0.65em;
    display: inline;
    margin: 0;
    padding: 0 1em 0 1em;
}

#teachers>section{
    margin-bottom:50px;
}
#teachers>section>div>div>div{
    background-color: #fff;
    padding:0 0 15px 0;
}
#teachers>section>div>div>div:hover{
    box-shadow:10px 10px 5px #888888;
    transition: all 0.5s;
}

#teachers>section>div>div>div>div{
    padding:15px;
}
#teachers>section>div>div{
    margin-top:5px;
}
#videoFooter .erweima{
    width:120px;
}
#videoFooter>div.row:first-child{
    padding-top:25px;
    padding-bottom: 50px;
    background-color: #232323;
    color: #6F6F6F;
}
#videoFooter>div.row:first-child a{
    color: #6F6F6F;
}
#videoFooter>div.row:first-child h4{
    color:#fff;
}
#videoFooter>div.row:last-child{
    padding-top:10px;
    background-color: #333333;
    color: #6F6F6F;
}
/*视频详情页图片上方播放按钮*/
#videoDetail>div:first-child>p{
    display: inline-block;
    width:100%;
}
#videoDetail>div:first-child>p:after{
    content:"";
    display:block;
    width:120px;
    height:120px;
    background: url("../img/play.png");
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.videoMsgPrice{
    color:#fff;
    background:url('../img/video_detail_bg.jpg') no-repeat;
}
.videoMsgPrice>b{
    font-size:2.5em;
}
#videoDetail>div:last-child>ul>li{
    padding:5px 15px;
}
#chooseClass:after{
    content:'';
    display:block;
    clear: both;
}
#chooseClass>li{
    float:left;
    border:1px solid #ddd;
    cursor: pointer;
}
#chooseClass>li.active{
    background:#5BC0DE;
    color:#fff;
}

/*视频简介*/
#videoIntro{
    margin-top:30px;
    background-color: #fff;
    padding:0;
}
#videoIntro>ul>li{
    float:left;
    width:50%;
    text-align: center;
    background-color: #F7F9FC;
    padding:15px 15px;
}
#videoIntro>ul:after{
    content: '';
    display:block;
    clear:both;
}
#videoIntro>ul>li{
    border-top:2px solid transparent;
    border-bottom:1px solid #ddd;
    cursor: pointer;
}
#videoIntro>ul>li:first-child{
    border-right:1px solid #ddd;
}
#videoIntro>ul>li.active{
    background-color:#fff ;
    border-top:2px solid #04A0D1;
    border-bottom:1px solid transparent;
}
#videoIntro>div{
    padding:5px 15px;
    display:none;
}
#courIntro>ul>li{
    border-radius: 5px;
}
#courIntro>ul>li:hover{
    background-color: #5BC0DE;
    color:#fff;
    width:102%;
    margin-left:-1%;
    font-size:20px;
    transition: background-color .3s;
}

#teachIntro div.panel-body img{
    width:100px;
}


/*登陆注册页面样式*/
#loginMain{
    background-color: #292943;
    margin-top:-20px;
}
#loginBox{
    width:350px;
    min-height:360px;
    background-color: #fff;
    margin:0 auto;
    margin-top:40px;
}
#loginBox>div:nth-child(2){
    margin-top:50px;
}
#loginMsg{
    color:red;
}

#loginTab{
    margin:0;
}
#loginTab>div:first-child{
    border-right:1px solid #ddd;
}
#loginTab>div.active{
    color:#fff;
    border-bottom:1px solid #4BB7D3;
    background-color: #4BB7D3;
}
#loginTab>div{
    padding:10px 0;
    font-size:1.5em;
    border-bottom:1px solid #ddd;
}
#loginBox>form{
    width:80%;
}
#loginBox>form>button{
    font-size:1.5em;
    letter-spacing: 10px;
}

/*支付详情页*/
#payList{
    border:1px solid #ddd;
    background-color: #fff;
    padding:30px 20px;
}
#payList>li{
    border-bottom:1px solid #ddd;
    padding:20px 0;
}
#payWay>span{
    border:1px solid #ddd;
    padding:5px 10px;
    margin-right:10px;
    position:relative;
}
#payWay>span.active{
    border:1px solid #5CBC67;
    overflow: hidden;
}
#payWay>span.active:after{
    content:"";
    display:block;
    background:url('../img/duihao.png') no-repeat;
    width:18px;
    height:18px;
    position:absolute;
    top:-9px;
    right:-9px;
    margin:auto;
}
#classList>tr>td>img{
    width:100px;
    margin-right:15px;
}


/*视频分类页面*/
#classContainer>section{
    margin-bottom:50px;
}
#classContainer>section>div>div>div{
    background-color: #fff;
    padding:0 0 15px 0;
}
#classContainer>section>div>div>div:hover{
    box-shadow:10px 10px 5px #888888;
    transition: all 0.5s;
}

#classContainer>section>div>div>div>div{
    padding:15px;
}
#classContainer>section>div>div{
    margin-top:5px;
}

#classContainer .breadcrumb{
    padding:0;
}

/*选课列表*/
#xuanke>dl>dt,dd{
    float:left;
    margin-right:5px;
}
#xuanke>dl>dd{
    padding:0 5px;
    /*border:1px solid #ddd;*/
    cursor:pointer;
}
#xuanke>dl>dd.active{
    background-color: #F7D145;
}
#xuanke>dl:after{
    content:'';
    display:table;
    clear:both;
}
#xuanke>dl{
    margin-bottom: 15px;
}
#xuanke>dl>dt{
    font-weight: normal;
    color:#aaa;
}